body {
  height: 100vh;
  width: 100vw;
  background-color: #0a131d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: #dcdcdc;
  font-size: 6rem;
  font-family: "Press Start 2P", cursive;
  font-weight: bolder;
}
.header span {
  background: -webkit-linear-gradient(#d2691e, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Projects {
  font-size: 4rem;
  color: #dcdcdc;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}
