body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a131d;
  /* background: linear-gradient(to bottom right, #200000, #100000); */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 30px whitesmoke;

  height: 70vh;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.05);
}
input {
  padding: 3rem;
  background-color: transparent;
  border: none;
  width: 340px;
  color: bisque;
  font-size: 3.5rem;
  font-family: Arial, sans-serif;
  text-align: right;
}
input:focus {
  border: none;
  outline: none;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px; /* Space between buttons */
  padding: 20px;
}
button {
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Specific styles for each class */
button.calc {
  background-color: #007aff; /* Orange for calculation buttons */
  color: white;
}

button.num {
  background-color: #505050; /* Gray for number buttons */
  color: #007aff;
}

button.scientific {
  padding: 10px;
  background-color: #505050; /* Blue for scientific buttons */
  color: #007aff;
}

button.Reset {
  background-color: #505050;
  opacity: 0.8;
  color: white;
}

/* Hover effects */
button:hover {
  opacity: 0.8;
}
