body {
  height: 100vh;
  width: 100dvw;
  display: flex;
  gap: 5rem;
  color: black;
}
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.buttonTask {
  width: 150px;
  height: 50px;
  background: linear-gradient(to right, #00ced1, #008b8b);
  color: white;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: 0.3s ease;
}
.chart {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chartcards {
  width: 400px;
  height: 250px;
  background-color: #f4f2f1;
  border-radius: 25px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar {
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
form {
  display: none;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
}
.taskSection {
  display: flex;
  align-items: flex-start;

  gap: 2rem;
}
.todocard {
  padding: 10px;
  border-radius: 20px;
  width: 450px;
  height: 300px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  background-color: #f4f2f1;
}
